{% extends "base.html.twig" %}

{% block title %}Products Client
{% endblock %}


{% block content %}


	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">produit</th>
				<th scope="col">quantite</th>
				<th scope="col">prix</th>
				<th scope="col" class="action">action</th>
			</tr>
		</thead>

		<tbody>
			{% for produit in produits %}
				<tr>
					<th scope="row">{{produit.id}}</th>
					<td>
						{{produit.nom}}
					</td>
					<td>
						{% if produit.quantite < 10 %}
							<span class="colorred">{{produit.quantite}}</span>
						{% else %}
							<span class="color">{{produit.quantite}}</span>
						{% endif %}
					</td>
					<td>
						{{produit.prix}}€
					</td>
					<td>
						<a href="/api/products/consume?id={{produit.id}}">
							<button type="button" class="btn btn-success">Buy One</button>
						</a>
					</td>
				</tr>
			{% endfor %}

		</tbody>
	</table>


{% endblock %}
